/.idea/Kalbonyan-Elmarsos.iml
/.idea/modules.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_٢٠‏_٤‏_٢٠٢٢_١١_٤٠_م_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at________Changes_.xml
/.idea/vcs.xml
/.idea/workspace.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_٢٠‏_٤‏_٢٠٢٢_١١_٤٠_م_[Changes]/shelved.patch
