h1,
h2,
h3,
h4,
p,
li {
    font-family: sans-serif;
}

h1 {
    color: blue;
    font-size: 26px;
    /*This is pixel and there're many unit css others */
    text-transform: uppercase;
    /*This has many values can we use to change the char style */
    font-style: italic;
    /* This is used to to make the font italic*/
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 20px;

    text-transform: uppercase;
    text-align: center;
}

p {
    font-size: 22px;
    line-height: 1.5;
}

li {
    font-size: 20px;
}

/* footer p {
    font-size:16px;
} */

/* 
article header p {
    font-style: italic;
} */

#author {
    font-size: 18px;
    font-style: italic;
}

#copyright { 
    font-style: italic;
}
/* The different between class and id 
ID => Can't give multiple elemtens the same id
Class => Can give many elements the same class 
*/

.related-author {
    font-size: 18px;
    font-weight: bold;
}

.related {
    list-style: none;
}