h1,
h2,
h3,
h4,
p,
li {
    font-family: sans-serif;
    color: #444 /* This's a shorthand hexidecimal */;
}

h1,h2,h3 {
    color: #1098ad; /* This's a hexidecimal */
}
h1 {
    /* color: blue; */
    font-size: 26px;
    /*This is pixel and there're many unit css others */
    text-transform: uppercase;
    /*This has many values can we use to change the char style */
    font-style: italic;
    /* This is used to to make the font italic*/
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 20px;

    text-transform: uppercase;
    text-align: center;
}

p {
    font-size: 22px;
    line-height: 1.5;
}

li {
    font-size: 20px;
}

/* footer p {
    font-size:16px;
} */

/* 
article header p {
    font-style: italic;
} */

#author {
    font-size: 18px;
    font-style: italic;
}

#copyright { 
    font-style: italic;
}
/* The different between class and id 
ID => Can't give multiple elemtens the same id
Class => Can give many elements the same class 
*/

.related-author {
    font-size: 18px;
    font-weight: bold;
}

.related {
    list-style: none;
}

.main-header {
    background-color: #f7f7f7;
}

aside {
    background-color: #f7f7f7;
    border-top: 5px solid #1098ad; /* Shorthand border */
    border-bottom: 5px solid #1098ad; /* Shorthand border */
}

/* .first-li {
    font-weight: bold;
} */

li:first-child { /*  This's pesudo class*/
    font-weight: bold;
}

li:last-child {
    font-style: italic;
}

/* li:nth-child(2) {
    color:red; 
} */
/* This is won't work */
article p:first-child {
    color: red;
}


/* Now we will style Hyperlinke*/

a:link {
    color: #1098ad; /* This's target the anker  has link*/
    text-decoration: none;
}

a:visited {
    color: #1098ad;
}


a:hover {
    color: orangered ;
    font-weight: bold;
    text-decoration: underline dotted orangered;
}

a:active {
    background-color: black ;
    font-style: italic;
}